<a href="https://colab.research.google.com/github/dwyuliaan/dataset_modul_4/blob/main/%5BRumpang%5D_Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Business Understanding

Anggaplah kita merupakan seorang Data Scientist dari perusahaan e-commerce Tokopedia, perusahaan sudah menguji coba 5 jenis kampanye pemasaran ( promosi ) yang berbeda di satu waktu secara bersamaan di bulan lalu. Saat ini, perusahaan ingin melihat promosi mana yang paling sering diikuti oleh customer.

Perusahaan juga membutuhkan mesin prediksi apakah customer yang datang dan beraktivitas di website perusahaan berpeluang menggunakan jenis promosi yang mana antara promosi ke 1 - 5. Agar, perusahaan tidak membuang - buang biaya promosi jika kelima jenis promosi tersebut terus di promosikan setiap hari, dan tentu saja untuk menghindari kerugian besar namun tetap mempertahankan customer yang setia serta menarik customer baru.

Anggap saja kolom campaign ke- :     

1. 1 = diskon 50%
2. 2 = beli 1 gratis 1
3. 3 = flash sale
4. 4 = free ongkir
5. 5 = cashback 30%

# Data Understanding

- **registration_id:** *ID unik yang digunakan untuk mengidentifikasi pelanggan.*

Format: String.

Contoh: RK20202344.

- **name:** *Nama lengkap pelanggan.*

Format: String.

Contoh: Fakhrul Fandy Widyaningtias.

- **email:** *Alamat email pelanggan.*

Format: String.

Contoh: fakhrulfandywidyaningtias@outlook.com.

- **phone:** *Nomor telepon pelanggan.*

Format: Float (dengan angka besar, mungkin perlu format ulang untuk menyimpan
tanpa notasi ilmiah).

Contoh: 6285244221090.

- **age:** *Usia pelanggan.*

Format: Float.

Contoh: 27.0.

- **income_group:** *Kelompok penghasilan pelanggan (kategori numerik).*

Format: Integer.

Contoh: 2 (kelompok penghasilan kedua).

- **active:** *Status aktif pelanggan (apakah pelanggan aktif).*

Format: Boolean.

Contoh: True.

- **city:** *Kota tempat tinggal pelanggan.*

Format: String.

Contoh: Tanjungpinang.

- **province:** *Provinsi tempat tinggal pelanggan.*

Format: String.

Contoh: Kepulauan Riau.

- **hobby:** *Hobi pelanggan.*

Format: String.

Contoh: Amateur radio.

- **fav_movie:** *Film favorit pelanggan.*

Format: String.

Contoh: The Godfather.

- **website_visit_count:** *Jumlah kunjungan pelanggan ke website.*

Format: Integer.

Contoh: 51.

- **website_recency:** *Jumlah hari sejak terakhir kali pelanggan mengunjungi website.*

Format: Integer.

Contoh: 75.

- **website_purchase_rate:** *Rasio pembelian pelanggan terhadap kunjungan website.*

Format: Float.

Contoh: 0.68 (68%).

- **website_purchase_amount:** *Total nilai pembelian pelanggan di website.*

Format: Integer.

Contoh: 612000 (Rp 612.000).

- **website_cs_call_count:** *Jumlah panggilan pelanggan ke customer service.*

Format: Integer.

Contoh: 1.

- **accept_campaign_1 hingga accept_campaign_5:** *Status apakah pelanggan menerima atau berpartisipasi dalam kampanye pemasaran tertentu.*

Format: Boolean.

Contoh: True (menerima kampanye).

# Data Preparation

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/krishna0604/dataset_advanced/refs/heads/main/data_customers_csv.csv")

In [ ]:
df.head()

,registration_id,name,email,phone,age,income_group,active,city,province,hobby,...,website_visit_count,website_recency,website_purchase_rate,website_purchase_amount,website_cs_call_count,accept_campaign_1,accept_campaign_2,accept_campaign_3,accept_campaign_4,accept_campaign_5
0,RK20202344,Fakhrul Fandy Widyaningtias,fakhrulfandywidyaningtias@outlook.com,6.285244e+09,27.0,2,False,Tanjungpinang,Kepulauan Riau,Amateur radio,...,51,75,0.68,612000,1,True,False,True,True,False
1,RK20202345,Ferdiansyah Amalina,ferdiansyahamalina@yahoo.com,6.285245e+09,31.0,3,True,Bogor,Jawa Barat,Animation,...,88,3,0.51,51000,3,True,False,False,True,False
2,RK20202346,Ficky Rizkyananta,fickyrizkyananta@hotmail.com,6.285245e+09,15.0,1,True,Kota Administrasi Jakarta Pusat,Jakarta,Anime,...,30,19,0.69,276000,1,False,True,False,True,False
3,RK20202347,Singgih Kharisma,singgihkharisma@hotmail.com,6.285245e+09,49.0,4,True,Metro,Lampung,Aquascaping,...,63,7,0.80,3200,3,False,True,True,True,True
4,RK20202348,Jeremiah Dinanti,jeremia@rakamin.com,6.285245e+09,25.0,2,False,Malang,Jawa Timur,Art,...,99,81,0.15,105000,2,True,True,True,True,True

In [ ]:
df.shape

(107, 21)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107 entries, 0 to 106
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   registration_id          107 non-null    object
 1   name                     107 non-null    object
 2   email                    107 non-null    object
 3   phone                    104 non-null    float64
 4   age                      106 non-null    float64
 5   income_group             107 non-null    int64
 6   active                   107 non-null    bool
 7   city                     107 non-null    object
 8   province                 107 non-null    object
 9   hobby                    102 non-null    object
 10  fav_movie                69 non-null     object
 11  website_visit_count      107 non-null    int64
 12  website_recency          107 non-null    int64
 13  website_purchase_rate    107 non-null    float64
 14  website_purchase_amount  107 non-null    int64
 15  website_cs_call_count    107 non-null    int64
 16  accept_campaign_1        107 non-null    bool
 17  accept_campaign_2        107 non-null    bool
 18  accept_campaign_3        107 non-null    bool
 19  accept_campaign_4        107 non-null    bool
 20  accept_campaign_5        107 non-null    bool
dtypes: bool(6), float64(3), int64(5), object(7)
memory usage: 13.3+ KB

Insight :    

1. Terdapat 107 baris dan 21 Kolom

2. Terdapat Missing Data pada kolom phone (3 values), age (1 values), hobby (5 values), dan fav_movie (38 values)

In [ ]:
df.describe()

,phone,age,income_group,website_visit_count,website_recency,website_purchase_rate,website_purchase_amount,website_cs_call_count
count,1.040000e+02,106.000000,107.000000,107.000000,107.000000,107.000000,1.070000e+02,107.000000
mean,6.123076e+09,33.132075,2.803738,51.831776,20.130841,0.675794,8.322712e+05,0.663551
std,9.515607e+08,11.480895,1.216547,29.269562,18.765225,0.243338,1.713776e+06,1.132237
min,6.284456e+08,15.000000,1.000000,5.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,6.285234e+09,24.250000,2.000000,24.500000,7.500000,0.610000,1.125000e+05,0.000000
50%,6.286627e+09,33.000000,3.000000,49.000000,17.000000,0.720000,3.400000e+05,0.000000
75%,6.287881e+09,43.750000,4.000000,74.000000,25.000000,0.830000,6.265000e+05,1.000000
max,6.289633e+09,57.000000,5.000000,100.000000,93.000000,1.000000,9.500000e+06,3.000000

In [ ]:
for i in df:
  print(f'''nilai unik dari kolom {i}''')
  print(df[i].unique())
  print()

nilai unik dari kolom registration_id
['RK20202344' 'RK20202345' 'RK20202346' 'RK20202347' 'RK20202348'
 'RK20202349' 'RK20202350' 'RK20202351' 'RK20202352' 'RK20202353'
 'RK20202354' 'RK20202355' 'RK20202356' 'RK20202357' 'RK20202358'
 'RK20202359' 'RK20202360' 'RK20202361' 'RK20202362' 'RK20202363'
 'RK20202364' 'RK20202365' 'RK20202366' 'RK20202367' 'RK20202368'
 'RK20202369' 'RK20202370' 'RK20202371' 'RK20202372' 'RK20202373'
 'RK20202374' 'RK20202375' 'RK20202376' 'RK20202377' 'RK20202378'
 'RK20202379' 'RK20202380' 'RK20202381' 'RK20202382' 'RK20202383'
 'RK20202384' 'RK20202385' 'RK20202386' 'RK20202387' 'RK20202388'
 'RK20202389' 'RK20202390' 'RK20202391' 'RK20202392' 'RK20202393'
 'RK20202394' 'RK20202395' 'RK20202396' 'RK20202397' 'RK20202398'
 'RK20202399' 'RK20202400' 'RK20202401' 'RK20202402' 'RK20202403'
 'RK20202404' 'RK20202405' 'RK20202406' 'RK20202407' 'RK20202408'
 'RK20202409' 'RK20202410' 'RK20202411' 'RK20202412' 'RK20202413'
 'RK20202414' 'RK20202415' 'RK20202416' 'RK20202417' 'RK20202418'
 'RK20202419' 'RK20202420' 'RK20202421' 'RK20202422' 'RK20202423'
 'RK20202424' 'RK20202425' 'RK20202426' 'RK20202427' 'RK20202428'
 'RK20202429' 'RK20202430' 'RK20202431' 'RK20202432' 'RK20202433'
 'RK20202434' 'RK20202435' 'RK20202436' 'RK20202437' 'RK20202438'
 'RK20202439' 'RK20202440' 'RK20202441' 'RK20202442' 'RK20202443'
 'RK20202444']

nilai unik dari kolom name
['Fakhrul Fandy Widyaningtias' 'Ferdiansyah Amalina' 'Ficky Rizkyananta'
 'Singgih Kharisma' 'Jeremiah Dinanti' 'Ridhwan Noerani' 'Okky Oktaviaman'
 'Dikposa Yosua Krisnanto' 'Dhanu Rahman' 'Bob Arisa' 'Omar Afini'
 'Sutrisno Rizal' 'Hilman Azalia' 'Lintang Bertauli'
 'Reynard Ramadhansyah' 'Kevin Ningsih' 'Rifqy Butar-butar' 'Wahyu Hayati'
 'Andi Mayasopha' 'Yutama Riahdita' 'Haikal Nurahmadhita'
 'Thomas Geryance' 'Muhamad Pramanda' 'Ramanta Pasha' 'Sakti Hasaniy'
 'Rian Mufti' 'Doni Teddo Prasetyani' 'Fahmi Haq' 'Rheza Novianti'
 'Herdaru Junaidi' 'Eka Tiodimar' 'Sebastian Mitsuko' 'Rinaldy Octaza'
 'Ismail Wardhani' 'Alfin Chairunisa' 'Revi Aswin Fatimah'
 'Faishal Listisni' 'Jova Imania' 'Izhar Halim' 'Garin Sugiyanto'
 'Edy Fitriyah' 'Geraldi Lalo' 'Yusuf Tilasnuari'
 'Lukman Naufal Simorangkir' 'Maruto Asih' 'Azrul Satria' 'Anton Fikri'
 'Anugrah Sastra' 'Sigit Amalia' 'Rizki Faishal Apriyani' 'Athirah Atsila'
 'Indah Khairunisa' 'Dela Harkart' 'Anindyanti Bayhacki'
 'Anastasia Primanelza' 'Anna Usra' 'Rianita Santi' 'Nadia Persadani'
 'Rayhana Hidayatul' 'Hanifa Ivangkia' 'Amadea Octaza' 'Auzy Narendra'
 'Rocitha Mufti' 'Amalia Widi Abelardo' 'Puspa Fariza' 'Clara Amira'
 'Hilary Adha' 'Reny Oktavianty' 'Salsabila Resa' 'Fathina Narimanda'
 'Moerdiati Ramsihs' 'Bella Listyani' 'Natasha Fadholi' 'Berty Yulianti'
 'June Andjani' 'Kautsar Jaelani' 'Amanda Idayu' 'Ovienov Asti Idrus'
 'Saliha Husein' 'Yosia Jaya' 'Desi Fauziyah' 'Tresna Rianita Prasojo'
 'Rarahayu Verev' 'Janiar Satria' 'Retno Maulinda' 'Nina Yulia'
 'Dyah Fauziah' 'Prima Hermawan' 'Firman Reza' 'Eva Khuadeva'
 'Bagus Maulana' 'Citra Citata' 'Yuni Bukan Sara' 'Putu Adinda'
 'Nurul Latifa' 'Fajar Gusti' 'Amalia Azizah Putriana' 'Didin Suherdin'
 'Amelia Sari Putri' 'Puspita Amalia']

nilai unik dari kolom email
['fakhrulfandywidyaningtias@outlook.com' 'ferdiansyahamalina@yahoo.com'
 'fickyrizkyananta@hotmail.com' 'singgihkharisma@hotmail.com'
 'jeremia@rakamin.com' 'ridhwannoerani@hotmail.com'
 'okkyoktaviaman@roketmail.com' 'dikposayosuakrisnanto@hotmail.com'
 'dhanurahman@gmail.com' 'bobarisa@yahoo.com' 'omarafini@gmail.com'
 'sutrisnorizal@outlook.com' 'hilmanazalia@hotmail.com'
 'lintangbertauli@gmail.com' 'reynardramadhansyah@gmail.com'
 'kevinningsih@roketmail.com' 'rifqybutar-butar@yahoo.com'
 'wahyuhayati@gmail.com' 'andimayasopha@yahoo.com'
 'yutamariahdita@gmail.com' 'haikalnurahmadhita@roketmail.com'
 'thomasgeryance@roketmail.com' 'muhamadpramanda@outlook.com'
 'ramantapasha@gmail.com' 'saktihasaniy@outlook.com'
 'rianmufti@outlook.com' 'doniteddoprasetyani@yahoo.com' 'fahmi@yahoo.com'
 'rhezanovianti@yahoo.com' 'herdarujunaidi@outlook.com' 'ekatio@yahoo.com'
 'sebastianmitsuko@roketmail.com' 'rinaldyoctaza@outlook.com'
 'ismailwardhani@hotmail.com' 'alfinchairunisa@gmail.com'
 'reviaswinfatimah@roketmail.com' 'faishallistisni@outlook.com'
 'jovaimania@gmail.com' 'izharhalim@gmail.com' 'garinsugiyanto@yahoo.com'
 'edyfitriyah@roketmail.com' 'geraldilalo@hotmail.com'
 'yusuftilasnuari@hotmail.com' 'lukmannaufalsimorangkir@gmail.com'
 'marutoasih@yahoo.com' 'azrulsatria@yahoo.com' 'antonfikri@hotmail.com'
 'anugrahsastra@outlook.com' 'sigitamalia@roketmail.com'
 'rizkifaishalapriyani@roketmail.com' 'athirahatsila@yahoo.com'
 'indahkhairunisa@roketmail.com' 'delaharkart@outlook.com'
 'anindyantibayhacki@yahoo.com' 'anastasiaprimanelza@roketmail.com'
 'annausra@roketmail.com' 'rianitasanti@yahoo.com'
 'nadiapersadani@roketmail.com' 'rayhanahidayatul@hotmail.com'
 'hanifaivangkia@gmail.com' 'amadeaoctaza@roketmail.com'
 'auzynarendra@outlook.com' 'rocithamufti@roketmail.com'
 'amaliawidiabelardo@outlook.com' 'puspafariza@yahoo.com'
 'claraamira@hotmail.com' 'hilaryadha@yahoo.com'
 'renyoktavianty@gmail.com' 'salsabilaresa@hotmail.com'
 'fathinanarimanda@yahoo.com' 'moerdiatiramsihs@roketmail.com'
 'bellalistyani@hotmail.com' 'natashafadholi@gmail.com'
 'bertyyulianti@gmail.com' 'juneandjani@gmail.com'
 'kautsarjaelani@yahoo.com' 'amandaidayu@yahoo.com'
 'ovienovastiidrus@outlook.com' 'salihahusein@outlook.com'
 'yosiajaya@yahoo.com' 'desifauziyah@outlook.com'
 'tresnarianitaprasojo@yahoo.com' 'rarahayuverev@outlook.com'
 'janiarsatria@outlook.com' 'retnomaulinda@roketmail.com'
 'ninayulia@rocketmail.com' 'dyahfauziah@gmail.com'
 'primahermawan@rocketmail.com' 'firmanreza@gmail.com'
 'evakhuadeva@rakamin.com' 'bagusmaulana@outlook.com'
 'citracitata@facebook.com' 'yunibukansara@yahoo.com'
 'putuadinda@yahoo.com' 'nurullatifa@ymail.com' 'fajargusti@hotmail.com'
 'amaliaazizahputriana@yahoo.com' 'didinsuherdin@yahoo.com'
 'ameliasariputri@ymail.com' 'puspitaamalia@hotmail.com'
 'puspitaamaliaa@gmail.com']

nilai unik dari kolom phone
[6.28524445e+09 6.28524469e+09 6.28524492e+09 6.28524516e+09
 6.28524539e+09 6.28524562e+09 6.28190636e+09 6.28190725e+09
 6.28190814e+09 6.28190902e+09 6.28190991e+09 6.28191080e+09
 6.28191169e+09            nan 6.28962354e+09 6.28962476e+09
 6.28962597e+09 6.28962718e+09 6.28962840e+09 6.28962961e+09
 6.28963082e+09 6.28963204e+09 6.28963325e+09 6.28783267e+09
 6.28783290e+09 6.28783314e+09 6.28783337e+09 6.28783360e+09
 6.28783384e+09 6.28783431e+09 6.28783454e+09 6.28783478e+09
 6.28445557e+08 6.28785779e+09 6.28785802e+09 6.28468802e+08
 6.28788103e+09 6.28788126e+09 6.28788353e+09 6.28788580e+09
 6.28788807e+09 6.28789034e+09 6.28789260e+09 6.28789487e+09
 6.28789714e+09 6.28789941e+09 6.28789284e+09 6.28788628e+09
 6.28787971e+09 6.28787315e+09 6.28786658e+09 6.28786002e+09
 6.28785345e+09 6.28784689e+09 6.28784032e+09 6.28783376e+09
 6.28782719e+09 6.28782063e+09 6.28781406e+09 6.28780750e+09
 6.28534773e+09 6.28534117e+09 6.28533460e+09 6.28532804e+09
 6.28532147e+09 6.28531491e+09 6.28530834e+09 6.28530178e+09
 6.28529521e+09 6.28528865e+09 6.28528208e+09 6.28527552e+09
 6.28526895e+09 6.28526239e+09 6.28525582e+09 6.28524926e+09
 6.28524269e+09 6.28523613e+09 6.28522956e+09 6.28522300e+09
 6.28521643e+09 6.28520987e+09 6.28520330e+09 6.28364156e+09
 6.28285351e+09 6.28185595e+09 6.28608407e+09 6.28645328e+09
 6.28895281e+09 6.28680113e+09 6.28842584e+09 6.28832321e+09
 6.28888752e+09 6.28315475e+09 6.28354240e+09 6.28108218e+09
 6.28459363e+09 6.28868954e+09 6.28190951e+09]

nilai unik dari kolom age
[27. 31. 15. 49. 25. 43. 35. 28. 26. 40. 48. 36. 17. 33. 34. 30. 23. 37.
 16. 24. 50. nan 44. 18. 20. 21. 32. 19. 47. 38. 42. 39. 45. 22. 29. 54.
 46. 57.]

nilai unik dari kolom income_group
[2 3 1 4 5]

nilai unik dari kolom active
[False  True]

nilai unik dari kolom city
['Tanjungpinang' 'Bogor' 'Kota Administrasi Jakarta Pusat' 'Metro'
 'Malang' 'Surakarta' 'Kota Administrasi Jakarta Selatan' 'Salatiga'
 'Batam' 'Banjarbaru' 'Kota Administrasi Jakarta Utara'
 'Kota Administrasi Jakarta Timur' 'Semarang' 'Cirebon' 'Magelang' 'Depok'
 'Sungai Penuh' 'Bontang' 'Pontianak' 'Tegal' 'Sukabumi' 'Bandar Lampung'
 'Bandung' 'Purwokerto' 'Tarakan' 'Blitar' 'Madiun' 'Kediri' 'Cimahi'
 'Tasikmalaya' 'Surabaya' 'Palangkaraya' 'Balikpapan' 'Banjar'
 'Banjarmasin' 'Pasuruan' 'Batu' 'Kota Administrasi Jakarta Barat'
 'Samarinda' 'Mojokerto' 'Pekalongan' 'Singkawang' 'Bekasi']

nilai unik dari kolom province
['Kepulauan Riau' 'Jawa Barat' 'Jakarta' 'Lampung' 'Jawa Timur'
 'Jawa Tengah' 'Kalimantan Selatan' 'Jambi' 'Kalimantan Timur'
 'Kalimantan Barat' 'Kalimantan Utara' 'Kalimantan Tengah']

nilai unik dari kolom hobby
['Amateur radio' 'Animation' 'Anime' 'Aquascaping' 'Art' 'Astrology'
 'Fashion design' 'Fingerpainting' 'Manga' 'Mechanics' 'Model building'
 'Music' 'Reading' 'Singing' 'Sudoku' nan 'Video editing' 'Video making'
 'VR Gaming' 'Practical jokes' 'Rapping' 'Skipping rope' 'Stand-up comedy'
 'Storytelling' 'Writing' 'Yoga' 'Gardening' 'Magic' 'Air sports'
 'Astronomy' 'Badminton' 'Baseball' 'Basketball' 'Camping' 'Climbing'
 'Driving' 'Farming' 'Fishing' 'Ghost hunting' 'Backpacking' 'Hunting'
 'Kitesurfing' 'Museum visiting' 'Parkour' 'Running' 'Swimming'
 'Taekwondo' 'Tennis' 'Vacation' 'Videography' 'Walking' 'Water sports'
 'Zoo visiting' 'Soccer']

nilai unik dari kolom fav_movie
['The Shawshank Redemption' 'The Godfather' 'The Godfather: Part II'
 'The Dark Knight' '12 Angry Men' "Schindler's List"
 'The Lord of the Rings: The Return of the King'
 'The Lord of the Rings: The Fellowship of the Ring' 'Seven Samurai'
 'Se7en' 'The Silence of the Lambs' nan 'Saving Private Ryan'
 'Interstellar' 'Spirited Away' 'The Green Mile' 'Parasite'
 'Léon: The Professional' 'Back to the Future' 'Psycho' 'The Lion King'
 'Modern Times' 'American History X' 'Grave of the Fireflies'
 'City Lights' 'Whiplash' 'Gladiator' 'The Departed' 'The Intouchables'
 'The Prestige' 'Memento' 'The Great Dictator' 'The Lives of Others'
 'Django Unchained' 'Paths of Glory' 'Sunset Blvd.'
 'Avengers: Infinity War' 'Witness for the Prosecution' 'The Shining'
 'Spider-Man: Into the Spider-Verse'
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb'
 'Oldboy' 'Coco' 'Aliens' 'Once Upon a Time in America'
 'Avengers: Endgame' 'Capernaum' 'Das Boot' 'High and Low' '3 Idiots'
 'American Beauty' 'Toy Story' 'Amadeus'
 'Eternal Sunshine of the Spotless Mind' 'Bicycle Thieves' 'The Hunt'
 'Requiem for a Dream' "It's a Wonderful Life"]

nilai unik dari kolom website_visit_count
[ 51  88  30  63  99  17   5  70  18  98 100  33  66  29  19  49  50   9
  12  16  92  20  79  76  61  85  43   6  73  45  74  25  36  21  38  41
  44  62  69  14  58  94  24  97  96  68  22  47  15  42  34  13  84  11
  60  57  46  40  52  95  64  23  81]

nilai unik dari kolom website_recency
[75  3 19  7 81 82 57 93 13  2 15 77  5 18 74 21 65 30 23  6 16 12  1 27
 17 26 14 24 22 25  8 20  4 28  0  9 10]

nilai unik dari kolom website_purchase_rate
[0.68 0.51 0.69 0.8  0.15 0.41 0.   0.25 0.98 0.64 0.7  0.1  0.77 0.6
 0.11 0.74 0.73 0.72 0.33 0.55 0.88 0.65 0.5  0.61 0.89 0.97 0.67 0.54
 0.95 0.92 0.83 0.53 0.94 0.9  0.78 0.52 0.66 0.75 1.   0.91 0.82 0.85
 0.76 0.87 0.56 0.93 0.99 0.79]

nilai unik dari kolom website_purchase_amount
[ 612000   51000  276000    3200  105000  164000   68000       0  175000
  196000  576000 4900000    7000  693000  120000   88000  666000    2920
   72000  198000    5500  357000  792000 1300000  260000   50000  305000
  623000  485000   13400  378000 9500000  828000  332000  265000  296000
  534000   77000  134000  470000  122000   98000  180000   78000 1040000
 6640000  462000  450000 1000000  819000  246000 4950000  166000  738000
  704000 6800000  760000  376000   52000  468000   83000  490000  216000
  402000  182000  696000  504000  186000  144000  600000  325000   70000
  201000  630000  648000 7040000  261000   73000  520000  400000  204000
 1280000 7200000  424000  850000 5440000   99000 2190000  574000  340000
  632000]

nilai unik dari kolom website_cs_call_count
[1 3 2 0]

nilai unik dari kolom accept_campaign_1
[ True False]

nilai unik dari kolom accept_campaign_2
[False  True]

nilai unik dari kolom accept_campaign_3
[ True False]

nilai unik dari kolom accept_campaign_4
[ True False]

nilai unik dari kolom accept_campaign_5
[False  True]

Insight :    

1. Customer berada pada rentang usia 15 - 57 tahun.

2. Income Group terdiri dari 5 grup, 1 - 5

3. Kunjungan ke website pada rentang 0 - 100 kali dengan rata" nya adalah 51 kali ( make sense )

4. Jumlah hari sejak terakhir kali berkunjung ke website ( website_recency ) adalah 0 - 93 hari.

## Data Cleaning

### a.) Handle Missing Values

Sebelumnya telah diketahui bahwa : Terdapat Missing Data pada kolom phone (3 values), age (1 values), dan hobby (5 values), dan fav_movie (38 values)

In [ ]:
df.isnull().sum()

registration_id             0
name                        0
email                       0
phone                       3
age                         1
income_group                0
active                      0
city                        0
province                    0
hobby                       5
fav_movie                  38
website_visit_count         0
website_recency             0
website_purchase_rate       0
website_purchase_amount     0
website_cs_call_count       0
accept_campaign_1           0
accept_campaign_2           0
accept_campaign_3           0
accept_campaign_4           0
accept_campaign_5           0
dtype: int64

Handle dengan :    

1. Menghapus baris phone, karena kemungkinan customer tanpa menggunakan nomor telepon adalah customer yang tidak terlalu dipercaya + menhapus 3 dari 107 baris tidak akan menghilangkan banyak infromasi

2. Mengisi null value pada kolom age dengan rata" karena missing valuenya hanya ada 1 dari 107 baris

3. Mengisi null value pada kolom hobby dengan modus karena tipe datanya adalah object

4. Menghapus kolom fav_movie karena nama film tidak ada hubungannya dengan daya beli customer dan akan sangat berpengaruh jika null values tersebut dihapus yang berarti harus menghapus 38 dari 107 baris dan akan mengurangi informasi.

Handle Missing Values Phone :

Insight : Karena kebetulan baris kolom age yang kosong juga merupakan informasi dari baris kolom phone yang kosong dan ikut terhapus, maka handle missing value kolom age tidak lagi diperlukan.

Handle Missing Values kolom Hobby :

Insight : Ghost Hunting adalah hobby yang paling banyak disukai, maka Ghost Hunting adalah modus.

Menghapus kolom fav_movie

In [ ]:
print("----------------")
df.shape

----------------

(104, 20)

Hasil akhir dari handle missing values adalah berkurangnya baris dari 107 baris menjadi 104. Hal ini tidak merubah banyak infromasi pada data dan data sudah bersih dari missng values

### b.) Handle Duplicates

In [ ]:
df.duplicated().sum()

6

In [ ]:
for i in df:
  print(f'''duplikasi dari kolom {i}''')
  print(df.loc[df[i].duplicated()])
  print()

duplikasi dari kolom registration_id
   registration_id                     name  \
8       RK20202351  Dikposa Yosua Krisnanto
39      RK20202381              Jova Imania
42      RK20202383          Garin Sugiyanto
52      RK20202392             Sigit Amalia
92      RK20202431           Prima Hermawan
93      RK20202431           Prima Hermawan

                                email         phone   age  income_group  \
8   dikposayosuakrisnanto@hotmail.com  6.281907e+09  28.0             2
39               jovaimania@gmail.com  6.284688e+08  17.0             1
42           garinsugiyanto@yahoo.com  6.287881e+09  33.0             3
52          sigitamalia@roketmail.com  6.287893e+09  48.0             4
92       primahermawan@rocketmail.com  6.281856e+09  50.0             5
93       primahermawan@rocketmail.com  6.281856e+09  50.0             5

    active                             city          province           hobby  \
8    False  Kota Administrasi Jakarta Pusat           Jakarta  Fingerpainting
39    True                            Depok        Jawa Barat      Air sports
42    True                       Purwokerto       Jawa Tengah       Badminton
52    True                           Madiun        Jawa Timur      Air sports
92    True                       Singkawang  Kalimantan Barat   Ghost hunting
93    True                       Singkawang  Kalimantan Barat   Ghost hunting

    website_visit_count  website_recency  website_purchase_rate  \
8                    70               57                   0.00
39                   25               12                   0.89
42                   21               18                   0.67
52                  100                6                   0.75
92                   46               10                   0.65
93                   46               10                   0.65

    website_purchase_amount  website_cs_call_count  accept_campaign_1  \
8                         0                      0              False
39                   534000                      0               True
42                   134000                      3              False
52                   450000                      0              False
92                   520000                      0               True
93                   520000                      0               True

    accept_campaign_2  accept_campaign_3  accept_campaign_4  accept_campaign_5
8               False              False              False              False
39               True               True               True               True
42              False              False              False              False
52              False              False              False              False
92              False              False              False              False
93              False              False              False              False

duplikasi dari kolom name
    registration_id                     name  \
8        RK20202351  Dikposa Yosua Krisnanto
39       RK20202381              Jova Imania
42       RK20202383          Garin Sugiyanto
52       RK20202392             Sigit Amalia
92       RK20202431           Prima Hermawan
93       RK20202431           Prima Hermawan
106      RK20202444           Puspita Amalia

                                 email         phone   age  income_group  \
8    dikposayosuakrisnanto@hotmail.com  6.281907e+09  28.0             2
39                jovaimania@gmail.com  6.284688e+08  17.0             1
42            garinsugiyanto@yahoo.com  6.287881e+09  33.0             3
52           sigitamalia@roketmail.com  6.287893e+09  48.0             4
92        primahermawan@rocketmail.com  6.281856e+09  50.0             5
93        primahermawan@rocketmail.com  6.281856e+09  50.0             5
106           puspitaamaliaa@gmail.com  6.281910e+09  27.0             2

     active                             city          province  \
8     False  Kota Administrasi Jakarta Pusat           Jakarta
39     True                            Depok        Jawa Barat
42     True                       Purwokerto       Jawa Tengah
52     True                           Madiun        Jawa Timur
92     True                       Singkawang  Kalimantan Barat
93     True                       Singkawang  Kalimantan Barat
106    True                        Samarinda  Kalimantan Timur

              hobby  website_visit_count  website_recency  \
8    Fingerpainting                   70               57
39       Air sports                   25               12
42        Badminton                   21               18
52       Air sports                  100                6
92    Ghost hunting                   46               10
93    Ghost hunting                   46               10
106   Ghost hunting                   58               10

     website_purchase_rate  website_purchase_amount  website_cs_call_count  \
8                     0.00                        0                      0
39                    0.89                   534000                      0
42                    0.67                   134000                      3
52                    0.75                   450000                      0
92                    0.65                   520000                      0
93                    0.65                   520000                      0
106                   0.79                   632000                      3

     accept_campaign_1  accept_campaign_2  accept_campaign_3  \
8                False              False              False
39                True               True               True
42               False              False              False
52               False              False              False
92                True              False              False
93                True              False              False
106              False               True               True

     accept_campaign_4  accept_campaign_5
8                False              False
39                True               True
42               False              False
52               False              False
92               False              False
93               False              False
106               True              False

duplikasi dari kolom email
   registration_id                     name  \
8       RK20202351  Dikposa Yosua Krisnanto
39      RK20202381              Jova Imania
42      RK20202383          Garin Sugiyanto
52      RK20202392             Sigit Amalia
92      RK20202431           Prima Hermawan
93      RK20202431           Prima Hermawan

                                email         phone   age  income_group  \
8   dikposayosuakrisnanto@hotmail.com  6.281907e+09  28.0             2
39               jovaimania@gmail.com  6.284688e+08  17.0             1
42           garinsugiyanto@yahoo.com  6.287881e+09  33.0             3
52          sigitamalia@roketmail.com  6.287893e+09  48.0             4
92       primahermawan@rocketmail.com  6.281856e+09  50.0             5
93       primahermawan@rocketmail.com  6.281856e+09  50.0             5

    active                             city          province           hobby  \
8    False  Kota Administrasi Jakarta Pusat           Jakarta  Fingerpainting
39    True                            Depok        Jawa Barat      Air sports
42    True                       Purwokerto       Jawa Tengah       Badminton
52    True                           Madiun        Jawa Timur      Air sports
92    True                       Singkawang  Kalimantan Barat   Ghost hunting
93    True                       Singkawang  Kalimantan Barat   Ghost hunting

    website_visit_count  website_recency  website_purchase_rate  \
8                    70               57                   0.00
39                   25               12                   0.89
42                   21               18                   0.67
52                  100                6                   0.75
92                   46               10                   0.65
93                   46               10                   0.65

    website_purchase_amount  website_cs_call_count  accept_campaign_1  \
8                         0                      0              False
39                   534000                      0               True
42                   134000                      3              False
52                   450000                      0              False
92                   520000                      0               True
93                   520000                      0               True

    accept_campaign_2  accept_campaign_3  accept_campaign_4  accept_campaign_5
8               False              False              False              False
39               True               True               True               True
42              False              False              False              False
52              False              False              False              False
92              False              False              False              False
93              False              False              False              False

duplikasi dari kolom phone
   registration_id                     name  \
8       RK20202351  Dikposa Yosua Krisnanto
39      RK20202381              Jova Imania
42      RK20202383          Garin Sugiyanto
52      RK20202392             Sigit Amalia
92      RK20202431           Prima Hermawan
93      RK20202431           Prima Hermawan

                                email         phone   age  income_group  \
8   dikposayosuakrisnanto@hotmail.com  6.281907e+09  28.0             2
39               jovaimania@gmail.com  6.284688e+08  17.0             1
42           garinsugiyanto@yahoo.com  6.287881e+09  33.0             3
52          sigitamalia@roketmail.com  6.287893e+09  48.0             4
92       primahermawan@rocketmail.com  6.281856e+09  50.0             5
93       primahermawan@rocketmail.com  6.281856e+09  50.0             5

    active                             city          province           hobby  \
8    False  Kota Administrasi Jakarta Pusat           Jakarta  Fingerpainting
39    True                            Depok        Jawa Barat      Air sports
42    True                       Purwokerto       Jawa Tengah       Badminton
52    True                           Madiun        Jawa Timur      Air sports
92    True                       Singkawang  Kalimantan Barat   Ghost hunting
93    True                       Singkawang  Kalimantan Barat   Ghost hunting

    website_visit_count  website_recency  website_purchase_rate  \
8                    70               57                   0.00
39                   25               12                   0.89
42                   21               18                   0.67
52                  100                6                   0.75
92                   46               10                   0.65
93                   46               10                   0.65

    website_purchase_amount  website_cs_call_count  accept_campaign_1  \
8                         0                      0              False
39                   534000                      0               True
42                   134000                      3              False
52                   450000                      0              False
92                   520000                      0               True
93                   520000                      0               True

    accept_campaign_2  accept_campaign_3  accept_campaign_4  accept_campaign_5
8               False              False              False              False
39               True               True               True               True
42              False              False              False              False
52              False              False              False              False
92              False              False              False              False
93              False              False              False              False

duplikasi dari kolom age
    registration_id                     name  \
8        RK20202351  Dikposa Yosua Krisnanto
16       RK20202359            Kevin Ningsih
19       RK20202362           Andi Mayasopha
20       RK20202363          Yutama Riahdita
22       RK20202365          Thomas Geryance
..              ...                      ...
101      RK20202439              Fajar Gusti
103      RK20202441           Didin Suherdin
104      RK20202442        Amelia Sari Putri
105      RK20202443           Puspita Amalia
106      RK20202444           Puspita Amalia

                                 email         phone   age  income_group  \
8    dikposayosuakrisnanto@hotmail.com  6.281907e+09  28.0             2
16          kevinningsih@roketmail.com  6.289625e+09  49.0             4
19             andimayasopha@yahoo.com  6.289628e+09  36.0             2
20            yutamariahdita@gmail.com  6.289630e+09  48.0             3
22        thomasgeryance@roketmail.com  6.289632e+09  40.0             4
..                                 ...           ...   ...           ...
101             fajargusti@hotmail.com  6.283155e+09  54.0             5
103            didinsuherdin@yahoo.com  6.281082e+09  44.0             4
104          ameliasariputri@ymail.com  6.284594e+09  32.0             3
105          puspitaamalia@hotmail.com  6.288690e+09  27.0             2
106           puspitaamaliaa@gmail.com  6.281910e+09  27.0             2

     active                             city            province  \
8     False  Kota Administrasi Jakarta Pusat             Jakarta
16    False  Kota Administrasi Jakarta Timur             Jakarta
19     True                         Magelang         Jawa Tengah
20    False                       Banjarbaru  Kalimantan Selatan
22     True                     Sungai Penuh               Jambi
..      ...                              ...                 ...
101    True                       Singkawang    Kalimantan Barat
103    True                      Banjarmasin  Kalimantan Selatan
104    True                            Batam      Kepulauan Riau
105    True                        Samarinda    Kalimantan Timur
106    True                        Samarinda    Kalimantan Timur

              hobby  website_visit_count  website_recency  \
8    Fingerpainting                   70               57
16           Sudoku                   29               74
19     Video making                   50                7
20        VR Gaming                    9               65
22          Rapping                   30               23
..              ...                  ...              ...
101   Ghost Hunting                   76                4
103    Water sports                   81               22
104    Zoo visiting                    9                1
105   Ghost hunting                   68               13
106   Ghost hunting                   58               10

     website_purchase_rate  website_purchase_amount  website_cs_call_count  \
8                     0.00                        0                      0
16                    0.11                    88000                      0
19                    0.72                    72000                      0
20                    0.33                   198000                      0
22                    0.51                   357000                      0
..                     ...                      ...                    ...
101                   0.52                    52000                      0
103                   0.73                  2190000                      0
104                   0.82                   574000                      1
105                   0.68                   340000                      2
106                   0.79                   632000                      3

     accept_campaign_1  accept_campaign_2  accept_campaign_3  \
8                False              False              False
16                True               True               True
19               False              False               True
20                True               True               True
22               False               True              False
..                 ...                ...                ...
101              False              False               True
103              False               True              False
104              False              False              False
105              False              False               True
106              False               True               True

     accept_campaign_4  accept_campaign_5
8                False              False
16                True               True
19                True               True
20                True               True
22                True              False
..                 ...                ...
101               True              False
103               True               True
104               True               True
105              False              False
106               True              False

[67 rows x 20 columns]

duplikasi dari kolom income_group
    registration_id                     name  \
4        RK20202348         Jeremiah Dinanti
5        RK20202349          Ridhwan Noerani
6        RK20202350          Okky Oktaviaman
7        RK20202351  Dikposa Yosua Krisnanto
8        RK20202351  Dikposa Yosua Krisnanto
..              ...                      ...
102      RK20202440   Amalia Azizah Putriana
103      RK20202441           Didin Suherdin
104      RK20202442        Amelia Sari Putri
105      RK20202443           Puspita Amalia
106      RK20202444           Puspita Amalia

                                 email         phone   age  income_group  \
4                  jeremia@rakamin.com  6.285245e+09  25.0             2
5           ridhwannoerani@hotmail.com  6.285246e+09  43.0             4
6         okkyoktaviaman@roketmail.com  6.281906e+09  35.0             3
7    dikposayosuakrisnanto@hotmail.com  6.281907e+09  28.0             2
8    dikposayosuakrisnanto@hotmail.com  6.281907e+09  28.0             2
..                                 ...           ...   ...           ...
102     amaliaazizahputriana@yahoo.com  6.283542e+09  57.0             5
103            didinsuherdin@yahoo.com  6.281082e+09  44.0             4
104          ameliasariputri@ymail.com  6.284594e+09  32.0             3
105          puspitaamalia@hotmail.com  6.288690e+09  27.0             2
106           puspitaamaliaa@gmail.com  6.281910e+09  27.0             2

     active                             city            province  \
4     False                           Malang          Jawa Timur
5     False  Kota Administrasi Jakarta Pusat             Jakarta
6      True                        Surakarta         Jawa Tengah
7     False  Kota Administrasi Jakarta Pusat             Jakarta
8     False  Kota Administrasi Jakarta Pusat             Jakarta
..      ...                              ...                 ...
102    True  Kota Administrasi Jakarta Barat             Jakarta
103    True                      Banjarmasin  Kalimantan Selatan
104    True                            Batam      Kepulauan Riau
105    True                        Samarinda    Kalimantan Timur
106    True                        Samarinda    Kalimantan Timur

              hobby  website_visit_count  website_recency  \
4               Art                   99               81
5         Astrology                   17               82
6    Fashion design                    5               19
7    Fingerpainting                   70               57
8    Fingerpainting                   70               57
..              ...                  ...              ...
102     Videography                   44               19
103    Water sports                   81               22

Betul, terdapat 6 kolom yang memiliki values dan informasi yang sama sehingga dianggap sebagai kolom yang berduplikat. Kita ambil contoh kolom nama dengan nama Dikposa Yosua Krisnanto

In [ ]:
df.loc[df["name"]=="Dikposa Yosua Krisnanto"]

,registration_id,name,email,phone,age,income_group,active,city,province,hobby,website_visit_count,website_recency,website_purchase_rate,website_purchase_amount,website_cs_call_count,accept_campaign_1,accept_campaign_2,accept_campaign_3,accept_campaign_4,accept_campaign_5
7,RK20202351,Dikposa Yosua Krisnanto,dikposayosuakrisnanto@hotmail.com,6.281907e+09,28.0,2,False,Kota Administrasi Jakarta Pusat,Jakarta,Fingerpainting,70,57,0.0,0,0,False,False,False,False,False
8,RK20202351,Dikposa Yosua Krisnanto,dikposayosuakrisnanto@hotmail.com,6.281907e+09,28.0,2,False,Kota Administrasi Jakarta Pusat,Jakarta,Fingerpainting,70,57,0.0,0,0,False,False,False,False,False

Karena ada 2 baris dengan value yang sama, maka akan dihapus salah satunya ( indeks 8 dihapus,ke-7 tidak ). Oleh karena itu, handle duplicates sangat penting dan tidak akan mengubah informasi apapun ketika baris duplikat dihapus

In [ ]:
df.loc[df["name"]=="Dikposa Yosua Krisnanto"]

,registration_id,name,email,phone,age,income_group,active,city,province,hobby,website_visit_count,website_recency,website_purchase_rate,website_purchase_amount,website_cs_call_count,accept_campaign_1,accept_campaign_2,accept_campaign_3,accept_campaign_4,accept_campaign_5
7,RK20202351,Dikposa Yosua Krisnanto,dikposayosuakrisnanto@hotmail.com,6.281907e+09,28.0,2,False,Kota Administrasi Jakarta Pusat,Jakarta,Fingerpainting,70,57,0.0,0,0,False,False,False,False,False

In [ ]:
df.duplicated().sum()

0

## Data Visualization

Setelah data sudah bersih, maka saatnya untuk mengambil insight lebih banyak menggunakan visualisasi data. Karena di dalam data ini tidak ada kolom / variabel tanggal-bulan-tahun (time series) maka line chart tidak akan diaplikasikan

Sesuai dengan informasi pada bagian Business Understanding : perusahaan sudah menguji coba 5 jenis kampanye pemasaran ( promosi ) yang berbeda di satu waktu secara bersamaan di bulan lalu. Saat ini, perusahaan ingin melihat promosi mana yang paling sering diikuti oleh customer. Maka saatnya untuk membuat visualisasinya

Insight = Campaign yang paling disukai oleh customer adalah campaign nomor 3 ( flash sale ) dan campaign 5 ( cashback 30% ) adalah campaign yang paling tidak disukai oleh customer

### BONUS

Buatlah visualisasi 3 provinsi mana yang memiliki customer dengan status aktif berbelanja di perusahaan

3 Provinsi dengan jumlah customer aktif paling banyak adalah : Jawa Barat, Jawa Timur, dan Jawa Tengah

## Data Manipulation

### a.) Binning

Binning digunakan untuk mengubah data numerik menjadi kategorik dengan tujuan untuk membuat data menjadi lebih simpel.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 98 entries, 0 to 106
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   registration_id          98 non-null     object
 1   name                     98 non-null     object
 2   email                    98 non-null     object
 3   phone                    98 non-null     float64
 4   age                      98 non-null     float64
 5   income_group             98 non-null     int64
 6   active                   98 non-null     bool
 7   city                     98 non-null     object
 8   province                 98 non-null     object
 9   hobby                    98 non-null     object
 10  website_visit_count      98 non-null     int64
 11  website_recency          98 non-null     int64
 12  website_purchase_rate    98 non-null     float64
 13  website_purchase_amount  98 non-null     int64
 14  website_cs_call_count    98 non-null     int64
 15  accept_campaign_1        98 non-null     bool
 16  accept_campaign_2        98 non-null     bool
 17  accept_campaign_3        98 non-null     bool
 18  accept_campaign_4        98 non-null     bool
 19  accept_campaign_5        98 non-null     bool
dtypes: bool(6), float64(3), int64(5), object(6)
memory usage: 12.1+ KB

Mengelompokkan kolom age, dengan kelompok produktif, dewasa, dan paruh baya ( 40 - 59 ) namun harus mengetahui rentang umur terlebih dahulu. Rentang umur bisa dicari menggunakan binning

In [ ]:
pd.qcut(df["age"], 3).value_counts()

age
(14.999, 27.0]    36
(38.0, 57.0]      32
(27.0, 38.0]      30
Name: count, dtype: int64

### b.) Clipping ( Handle Outlier )

In [ ]:
df.describe()

,phone,age,income_group,website_visit_count,website_recency,website_purchase_rate,website_purchase_amount,website_cs_call_count
count,9.800000e+01,98.000000,98.000000,98.000000,98.000000,98.000000,9.800000e+01,98.000000
mean,6.170918e+09,32.693878,2.734694,51.336735,20.316327,0.686531,8.663471e+05,0.693878
std,8.041015e+08,11.348653,1.180171,29.288450,19.051529,0.233521,1.783862e+06,1.143409
min,6.284456e+08,15.000000,1.000000,5.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,6.285245e+09,24.000000,2.000000,23.250000,7.250000,0.610000,1.087500e+05,0.000000
50%,6.287304e+09,32.000000,3.000000,49.500000,17.000000,0.720000,3.285000e+05,0.000000
75%,6.287881e+09,42.000000,4.000000,73.750000,25.000000,0.845000,6.282500e+05,1.000000
max,6.289633e+09,57.000000,5.000000,100.000000,93.000000,1.000000,9.500000e+06,3.000000

insight ( Praduga ) :    

1. Kolom website_recency kemungkinan terdapat high outlier karena rentangnya adalah dari 0 - 93 namun rata-ratanya adalah 20.

2. Kolom website_purchase_amount kemungkinan terdapat outlier karena rentangnya adalah dari 0 - 9.5jt namun rata-ratanya adalah 866rb dengan median 328rb.

Info tambahan :    

e adalah eksponen atau dikali dengan 10 pangkat. jadi e+05 artinya dikali 10 pangkat 5. yang berarti, rentang website_purchase_amount adalah dari 0 - 9.500.000 dan mean nya adalah 866.000

Handle outlier website_recency :

Kolom website_recency sudah tidak ada outlier

Handle outlier website_purchase_amount

kolom website_purchase_amount yang baru adalah rentang dari 0 - 1.4jt dengan rata-ratanya 437rb ( make sense )

### c.) Scaling

In [ ]:
df.describe()

,phone,age,income_group,website_visit_count,website_recency,website_purchase_rate,website_purchase_amount,website_cs_call_count,Clipped_website_recency,Clipped_website_purchase_amount
count,9.800000e+01,98.000000,98.000000,98.000000,98.000000,98.000000,9.800000e+01,98.000000,98.000000,9.800000e+01
mean,6.170918e+09,32.693878,2.734694,51.336735,20.316327,0.686531,8.663471e+05,0.693878,18.367347,4.378522e+05
std,8.041015e+08,11.348653,1.180171,29.288450,19.051529,0.233521,1.783862e+06,1.143409,13.423668,4.109651e+05
min,6.284456e+08,15.000000,1.000000,5.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00
25%,6.285245e+09,24.000000,2.000000,23.250000,7.250000,0.610000,1.087500e+05,0.000000,7.250000,1.087500e+05
50%,6.287304e+09,32.000000,3.000000,49.500000,17.000000,0.720000,3.285000e+05,0.000000,17.000000,3.285000e+05
75%,6.287881e+09,42.000000,4.000000,73.750000,25.000000,0.845000,6.282500e+05,1.000000,25.000000,6.282500e+05
max,6.289633e+09,57.000000,5.000000,100.000000,93.000000,1.000000,9.500000e+06,3.000000,51.625000,1.407500e+06

kita mengabaikan kolom "phone" karena semua baris memiliki nomor telepon yang berbeda-beda kecuali jika ada duplikasi, dan kita sudah handle diatas. sekarang kita analisis apakah skala nya merata dari kolom selain kolom phone :     

1. age = 15 - 57
2. income_group = 1 - 5 ( termasuk kategori, jadi tidak usah di scaling )
3. website_visit_count = 5 - 100
4. website_recency = 0 - 93
5. website_purchase_rate = 0 - 1 (persen)
6. website_purchase_amount = 0 - 9.5jt
7. website_cs_call_count = 0 - 3
8. Clipped_website_recency = 0 - 51
9. Clipped_website_purchase_amount = 0 - 1.4jt

Berdasarkan informasi diatas, sudah jelas yang akan kita scaling adalah kolom website_purchase_amount dan Clipped_website_purchase_amount. Namun kita akan membiarkan kolom website_purchase_amount karena sudah digantikan dengan yang tanpa outlier pada kolom Clipped_website_purchase_amount sehingga tidak akan digunakan untuk modelling.

Kita akan melakukan scaling dengan metode StandardScaler karena kolom ini merupakan kolom harga dan tidak menggunakan MinMaxScaler karena tidak ingin mengubah value dari 0 - 1.

std_clipped_website_purchase_amount

In [ ]:
df["std_clipped_website_purchase_amount"].describe()

count    9.800000e+01
mean     4.304946e-17
std      1.005141e+00
min     -1.070902e+00
25%     -8.049206e-01
50%     -2.674545e-01
75%      4.656762e-01
max      2.371571e+00
Name: std_clipped_website_purchase_amount, dtype: float64

### d.) Encoding

In [ ]:
for i in df:
  print(f'''nilai unik dari kolom {i}''')
  print(df[i].unique())
  print()

nilai unik dari kolom registration_id
['RK20202344' 'RK20202345' 'RK20202346' 'RK20202347' 'RK20202348'
 'RK20202349' 'RK20202350' 'RK20202351' 'RK20202352' 'RK20202353'
 'RK20202354' 'RK20202355' 'RK20202356' 'RK20202358' 'RK20202359'
 'RK20202360' 'RK20202361' 'RK20202362' 'RK20202363' 'RK20202364'
 'RK20202365' 'RK20202366' 'RK20202368' 'RK20202369' 'RK20202370'
 'RK20202371' 'RK20202372' 'RK20202373' 'RK20202375' 'RK20202376'
 'RK20202377' 'RK20202378' 'RK20202379' 'RK20202380' 'RK20202381'
 'RK20202382' 'RK20202383' 'RK20202384' 'RK20202385' 'RK20202386'
 'RK20202387' 'RK20202388' 'RK20202389' 'RK20202390' 'RK20202391'
 'RK20202392' 'RK20202393' 'RK20202394' 'RK20202395' 'RK20202396'
 'RK20202397' 'RK20202398' 'RK20202399' 'RK20202400' 'RK20202401'
 'RK20202402' 'RK20202403' 'RK20202404' 'RK20202405' 'RK20202406'
 'RK20202407' 'RK20202408' 'RK20202409' 'RK20202410' 'RK20202411'
 'RK20202412' 'RK20202413' 'RK20202414' 'RK20202415' 'RK20202416'
 'RK20202417' 'RK20202418' 'RK20202419' 'RK20202420' 'RK20202421'
 'RK20202422' 'RK20202423' 'RK20202424' 'RK20202425' 'RK20202426'
 'RK20202427' 'RK20202428' 'RK20202429' 'RK20202430' 'RK20202431'
 'RK20202432' 'RK20202433' 'RK20202434' 'RK20202435' 'RK20202436'
 'RK20202437' 'RK20202438' 'RK20202439' 'RK20202440' 'RK20202441'
 'RK20202442' 'RK20202443' 'RK20202444']

nilai unik dari kolom name
['Fakhrul Fandy Widyaningtias' 'Ferdiansyah Amalina' 'Ficky Rizkyananta'
 'Singgih Kharisma' 'Jeremiah Dinanti' 'Ridhwan Noerani' 'Okky Oktaviaman'
 'Dikposa Yosua Krisnanto' 'Dhanu Rahman' 'Bob Arisa' 'Omar Afini'
 'Sutrisno Rizal' 'Hilman Azalia' 'Reynard Ramadhansyah' 'Kevin Ningsih'
 'Rifqy Butar-butar' 'Wahyu Hayati' 'Andi Mayasopha' 'Yutama Riahdita'
 'Haikal Nurahmadhita' 'Thomas Geryance' 'Muhamad Pramanda'
 'Sakti Hasaniy' 'Rian Mufti' 'Doni Teddo Prasetyani' 'Fahmi Haq'
 'Rheza Novianti' 'Herdaru Junaidi' 'Sebastian Mitsuko' 'Rinaldy Octaza'
 'Ismail Wardhani' 'Alfin Chairunisa' 'Revi Aswin Fatimah'
 'Faishal Listisni' 'Jova Imania' 'Izhar Halim' 'Garin Sugiyanto'
 'Edy Fitriyah' 'Geraldi Lalo' 'Yusuf Tilasnuari'
 'Lukman Naufal Simorangkir' 'Maruto Asih' 'Azrul Satria' 'Anton Fikri'
 'Anugrah Sastra' 'Sigit Amalia' 'Rizki Faishal Apriyani' 'Athirah Atsila'
 'Indah Khairunisa' 'Dela Harkart' 'Anindyanti Bayhacki'
 'Anastasia Primanelza' 'Anna Usra' 'Rianita Santi' 'Nadia Persadani'
 'Rayhana Hidayatul' 'Hanifa Ivangkia' 'Amadea Octaza' 'Auzy Narendra'
 'Rocitha Mufti' 'Amalia Widi Abelardo' 'Puspa Fariza' 'Clara Amira'
 'Hilary Adha' 'Reny Oktavianty' 'Salsabila Resa' 'Fathina Narimanda'
 'Moerdiati Ramsihs' 'Bella Listyani' 'Natasha Fadholi' 'Berty Yulianti'
 'June Andjani' 'Kautsar Jaelani' 'Amanda Idayu' 'Ovienov Asti Idrus'
 'Saliha Husein' 'Yosia Jaya' 'Desi Fauziyah' 'Tresna Rianita Prasojo'
 'Rarahayu Verev' 'Janiar Satria' 'Retno Maulinda' 'Nina Yulia'
 'Dyah Fauziah' 'Prima Hermawan' 'Firman Reza' 'Eva Khuadeva'
 'Bagus Maulana' 'Citra Citata' 'Yuni Bukan Sara' 'Putu Adinda'
 'Nurul Latifa' 'Fajar Gusti' 'Amalia Azizah Putriana' 'Didin Suherdin'
 'Amelia Sari Putri' 'Puspita Amalia']

nilai unik dari kolom email
['fakhrulfandywidyaningtias@outlook.com' 'ferdiansyahamalina@yahoo.com'
 'fickyrizkyananta@hotmail.com' 'singgihkharisma@hotmail.com'
 'jeremia@rakamin.com' 'ridhwannoerani@hotmail.com'
 'okkyoktaviaman@roketmail.com' 'dikposayosuakrisnanto@hotmail.com'
 'dhanurahman@gmail.com' 'bobarisa@yahoo.com' 'omarafini@gmail.com'
 'sutrisnorizal@outlook.com' 'hilmanazalia@hotmail.com'
 'reynardramadhansyah@gmail.com' 'kevinningsih@roketmail.com'
 'rifqybutar-butar@yahoo.com' 'wahyuhayati@gmail.com'
 'andimayasopha@yahoo.com' 'yutamariahdita@gmail.com'
 'haikalnurahmadhita@roketmail.com' 'thomasgeryance@roketmail.com'
 'muhamadpramanda@outlook.com' 'saktihasaniy@outlook.com'
 'rianmufti@outlook.com' 'doniteddoprasetyani@yahoo.com' 'fahmi@yahoo.com'
 'rhezanovianti@yahoo.com' 'herdarujunaidi@outlook.com'
 'sebastianmitsuko@roketmail.com' 'rinaldyoctaza@outlook.com'
 'ismailwardhani@hotmail.com' 'alfinchairunisa@gmail.com'
 'reviaswinfatimah@roketmail.com' 'faishallistisni@outlook.com'
 'jovaimania@gmail.com' 'izharhalim@gmail.com' 'garinsugiyanto@yahoo.com'
 'edyfitriyah@roketmail.com' 'geraldilalo@hotmail.com'
 'yusuftilasnuari@hotmail.com' 'lukmannaufalsimorangkir@gmail.com'
 'marutoasih@yahoo.com' 'azrulsatria@yahoo.com' 'antonfikri@hotmail.com'
 'anugrahsastra@outlook.com' 'sigitamalia@roketmail.com'
 'rizkifaishalapriyani@roketmail.com' 'athirahatsila@yahoo.com'
 'indahkhairunisa@roketmail.com' 'delaharkart@outlook.com'
 'anindyantibayhacki@yahoo.com' 'anastasiaprimanelza@roketmail.com'
 'annausra@roketmail.com' 'rianitasanti@yahoo.com'
 'nadiapersadani@roketmail.com' 'rayhanahidayatul@hotmail.com'
 'hanifaivangkia@gmail.com' 'amadeaoctaza@roketmail.com'
 'auzynarendra@outlook.com' 'rocithamufti@roketmail.com'
 'amaliawidiabelardo@outlook.com' 'puspafariza@yahoo.com'
 'claraamira@hotmail.com' 'hilaryadha@yahoo.com'
 'renyoktavianty@gmail.com' 'salsabilaresa@hotmail.com'
 'fathinanarimanda@yahoo.com' 'moerdiatiramsihs@roketmail.com'
 'bellalistyani@hotmail.com' 'natashafadholi@gmail.com'
 'bertyyulianti@gmail.com' 'juneandjani@gmail.com'
 'kautsarjaelani@yahoo.com' 'amandaidayu@yahoo.com'
 'ovienovastiidrus@outlook.com' 'salihahusein@outlook.com'
 'yosiajaya@yahoo.com' 'desifauziyah@outlook.com'
 'tresnarianitaprasojo@yahoo.com' 'rarahayuverev@outlook.com'
 'janiarsatria@outlook.com' 'retnomaulinda@roketmail.com'
 'ninayulia@rocketmail.com' 'dyahfauziah@gmail.com'
 'primahermawan@rocketmail.com' 'firmanreza@gmail.com'
 'evakhuadeva@rakamin.com' 'bagusmaulana@outlook.com'
 'citracitata@facebook.com' 'yunibukansara@yahoo.com'
 'putuadinda@yahoo.com' 'nurullatifa@ymail.com' 'fajargusti@hotmail.com'
 'amaliaazizahputriana@yahoo.com' 'didinsuherdin@yahoo.com'
 'ameliasariputri@ymail.com' 'puspitaamalia@hotmail.com'
 'puspitaamaliaa@gmail.com']

nilai unik dari kolom phone
[6.28524445e+09 6.28524469e+09 6.28524492e+09 6.28524516e+09
 6.28524539e+09 6.28524562e+09 6.28190636e+09 6.28190725e+09
 6.28190814e+09 6.28190902e+09 6.28190991e+09 6.28191080e+09
 6.28191169e+09 6.28962354e+09 6.28962476e+09 6.28962597e+09
 6.28962718e+09 6.28962840e+09 6.28962961e+09 6.28963082e+09
 6.28963204e+09 6.28963325e+09 6.28783267e+09 6.28783290e+09
 6.28783314e+09 6.28783337e+09 6.28783360e+09 6.28783384e+09
 6.28783431e+09 6.28783454e+09 6.28783478e+09 6.28445557e+08
 6.28785779e+09 6.28785802e+09 6.28468802e+08 6.28788103e+09
 6.28788126e+09 6.28788353e+09 6.28788580e+09 6.28788807e+09
 6.28789034e+09 6.28789260e+09 6.28789487e+09 6.28789714e+09
 6.28789941e+09 6.28789284e+09 6.28788628e+09 6.28787971e+09
 6.28787315e+09 6.28786658e+09 6.28786002e+09 6.28785345e+09
 6.28784689e+09 6.28784032e+09 6.28783376e+09 6.28782719e+09
 6.28782063e+09 6.28781406e+09 6.28780750e+09 6.28534773e+09
 6.28534117e+09 6.28533460e+09 6.28532804e+09 6.28532147e+09
 6.28531491e+09 6.28530834e+09 6.28530178e+09 6.28529521e+09
 6.28528865e+09 6.28528208e+09 6.28527552e+09 6.28526895e+09
 6.28526239e+09 6.28525582e+09 6.28524926e+09 6.28524269e+09
 6.28523613e+09 6.28522956e+09 6.28522300e+09 6.28521643e+09
 6.28520987e+09 6.28520330e+09 6.28364156e+09 6.28285351e+09
 6.28185595e+09 6.28608407e+09 6.28645328e+09 6.28895281e+09
 6.28680113e+09 6.28842584e+09 6.28832321e+09 6.28888752e+09
 6.28315475e+09 6.28354240e+09 6.28108218e+09 6.28459363e+09
 6.28868954e+09 6.28190951e+09]

nilai unik dari kolom age
[27. 31. 15. 49. 25. 43. 35. 28. 26. 40. 48. 36. 17. 34. 30. 23. 37. 16.
 24. 50. 44. 18. 20. 21. 32. 33. 19. 47. 38. 42. 39. 45. 22. 29. 54. 46.
 57.]

nilai unik dari kolom income_group
[2 3 1 4 5]

nilai unik dari kolom active
[False  True]

nilai unik dari kolom city
['Tanjungpinang' 'Bogor' 'Kota Administrasi Jakarta Pusat' 'Metro'
 'Malang' 'Surakarta' 'Kota Administrasi Jakarta Selatan' 'Salatiga'
 'Batam' 'Banjarbaru' 'Kota Administrasi Jakarta Utara'
 'Kota Administrasi Jakarta Timur' 'Semarang' 'Cirebon' 'Magelang' 'Depok'
 'Sungai Penuh' 'Bontang' 'Pontianak' 'Tegal' 'Sukabumi' 'Bandar Lampung'
 'Bandung' 'Purwokerto' 'Tarakan' 'Blitar' 'Madiun' 'Kediri' 'Cimahi'
 'Tasikmalaya' 'Surabaya' 'Palangkaraya' 'Balikpapan' 'Banjar'
 'Banjarmasin' 'Pasuruan' 'Batu' 'Kota Administrasi Jakarta Barat'
 'Samarinda' 'Mojokerto' 'Pekalongan' 'Singkawang' 'Bekasi']

nilai unik dari kolom province
['Kepulauan Riau' 'Jawa Barat' 'Jakarta' 'Lampung' 'Jawa Timur'
 'Jawa Tengah' 'Kalimantan Selatan' 'Jambi' 'Kalimantan Timur'
 'Kalimantan Barat' 'Kalimantan Utara' 'Kalimantan Tengah']

nilai unik dari kolom hobby
['Amateur radio' 'Animation' 'Anime' 'Aquascaping' 'Art' 'Astrology'
 'Fashion design' 'Fingerpainting' 'Manga' 'Mechanics' 'Model building'
 'Music' 'Singing' 'Sudoku' 'Ghost Hunting' 'Video editing' 'Video making'
 'VR Gaming' 'Practical jokes' 'Rapping' 'Skipping rope' 'Storytelling'
 'Writing' 'Yoga' 'Gardening' 'Reading' 'Air sports' 'Astronomy'
 'Badminton' 'Baseball' 'Basketball' 'Camping' 'Climbing' 'Driving'
 'Farming' 'Fishing' 'Ghost hunting' 'Backpacking' 'Hunting' 'Kitesurfing'
 'Museum visiting' 'Parkour' 'Running' 'Swimming' 'Taekwondo' 'Tennis'
 'Vacation' 'Videography' 'Walking' 'Water sports' 'Zoo visiting' 'Soccer']

nilai unik dari kolom website_visit_count
[ 51  88  30  63  99  17   5  70  18  98 100  33  66  29  19  49  50   9
  12  16  92  20  79  76  61  43   6  73  45  74  25  36  21  38  41  44
  62  69  14  58  94  24  97  96  68  22  47  15  42  34  13  84  11  60
  57  46  40  52  95  64  23  81]

nilai unik dari kolom website_recency
[75  3 19  7 81 82 57 93 13  2 15 77 18 74 21 65 30 23  6 16 12  1 17 26
 14 24 22 25 27  8 20  4 28  0  9  5 10]

nilai unik dari kolom website_purchase_rate
[0.68 0.51 0.69 0.8  0.15 0.41 0.   0.25 0.98 0.64 0.7  0.1  0.6  0.11
 0.74 0.73 0.72 0.33 0.55 0.88 0.65 0.5  0.61 0.89 0.97 0.67 0.54 0.95
 0.92 0.83 0.53 0.77 0.94 0.9  0.78 0.52 0.66 0.75 1.   0.91 0.82 0.85
 0.76 0.87 0.56 0.93 0.99 0.79]

nilai unik dari kolom website_purchase_amount
[ 612000   51000  276000    3200  105000  164000   68000       0  175000
  196000  576000 4900000    7000  120000   88000  666000    2920   72000
  198000    5500  357000  792000  260000   50000  305000  623000  485000
   13400  378000 9500000  828000  332000  265000  296000  534000   77000
  134000  470000  122000   98000  180000   78000 1040000 6640000  462000
  450000 1000000  819000  246000 4950000  166000  738000  704000 6800000
  760000  376000   52000  468000   83000  490000  216000  402000  182000
  696000  504000  186000  144000  600000  325000   70000  201000  630000
  648000 7040000  261000   73000  520000  400000  204000 1280000 7200000
  424000  850000 5440000   99000 2190000  574000  340000  632000]

nilai unik dari kolom website_cs_call_count
[1 3 2 0]

nilai unik dari kolom accept_campaign_1
[ True False]

nilai unik dari kolom accept_campaign_2
[False  True]

nilai unik dari kolom accept_campaign_3
[ True False]

nilai unik dari kolom accept_campaign_4
[ True False]

nilai unik dari kolom accept_campaign_5
[False  True]

nilai unik dari kolom age_group
['produktif' 'dewasa' 'paruh_baya']

nilai unik dari kolom Clipped_website_recency
[51.625  3.    19.     7.    13.     2.    15.    18.    21.    30.
 23.     6.    16.    12.     1.    17.    26.    14.    24.    22.
 25.    27.     8.    20.     4.    28.     0.     9.     5.    10.   ]

nilai unik dari kolom Clipped_website_purchase_amount
[ 612000   51000  276000    3200  105000  164000   68000       0  175000
  196000  576000 1407500    7000  120000   88000  666000    2920   72000
  198000    5500  357000  792000  260000   50000  305000  623000  485000
   13400  378000  828000  332000  265000  296000  534000   77000  134000
  470000  122000   98000  180000   78000 1040000  462000  450000 1000000
  819000  246000  166000  738000  704000  760000  376000   52000  468000
   83000  490000  216000  402000  182000  696000  504000  186000  144000
  600000  325000   70000  201000  630000  648000  261000   73000  520000
  400000  204000 1280000  424000  850000   99000  574000  340000  632000]

nilai unik dari kolom std_clipped_website_purchase_amount
[ 0.42593182 -0.94616598 -0.39585937 -1.06307556 -0.81409239 -0.66978977
 -0.90458725 -1.07090214 -0.64288589 -0.59152394  0.33788276  2.37157138
 -1.05378149 -0.77740528 -0.85567111  0.5580054  -1.06376038 -0.89480403
 -0.58663233 -1.0574502  -0.197749    0.8661771  -0.43499229 -0.94861178
 -0.32493097  0.4528357   0.11531432 -1.03812832 -0.14638705  0.95422616
 -0.25889417 -0.42276325 -0.34694323  0.23515886 -0.88257499 -0.74316398
  0.07862721 -0.77251367 -0.83121304 -0.63065686 -0.88012918  1.47273727
  0.05906075  0.02971107  1.37490498  0.93221389 -0.46923359 -0.66489816
  0.73410352  0.65094607  0.78791127 -0.15127866 -0.94372017  0.07373559
 -0.86790015  0.12754335 -0.5426078  -0.08768768 -0.62576524  0.63137962
  0.16178465 -0.61598201 -0.71870591  0.39658213 -0.27601482 -0.89969564
 -0.57929491  0.46995635  0.51398088 -0.43254648 -0.89235822  0.20091756
 -0.09257929 -0.57195749  2.05973098 -0.03387992  1.00803391 -0.82876723
  0.33299115 -0.23932772  0.47484796]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 98 entries, 0 to 106
Data columns (total 24 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   registration_id                      98 non-null     object
 1   name                                 98 non-null     object
 2   email                                98 non-null     object
 3   phone                                98 non-null     float64
 4   age                                  98 non-null     float64
 5   income_group                         98 non-null     int64
 6   active                               98 non-null     bool
 7   city                                 98 non-null     object
 8   province                             98 non-null     object
 9   hobby                                98 non-null     object
 10  website_visit_count                  98 non-null     int64
 11  website_recency                      98 non-null     int64
 12  website_purchase_rate                98 non-null     float64
 13  website_purchase_amount              98 non-null     int64
 14  website_cs_call_count                98 non-null     int64
 15  accept_campaign_1                    98 non-null     bool
 16  accept_campaign_2                    98 non-null     bool
 17  accept_campaign_3                    98 non-null     bool
 18  accept_campaign_4                    98 non-null     bool
 19  accept_campaign_5                    98 non-null     bool
 20  age_group                            98 non-null     object
 21  Clipped_website_recency              98 non-null     float64
 22  Clipped_website_purchase_amount      98 non-null     int64
 23  std_clipped_website_purchase_amount  98 non-null     float64
dtypes: bool(6), float64(5), int64(6), object(7)
memory usage: 15.1+ KB

Kolom registration_id, name, email, dan phone tidak mungkin di encoding dan tidak akan dijadikan sebagai variabel prediktor pada model karena valuenya unik disetiap baris sehingga tidak akan ditemukan korelasi dan tidak bermanfaat.

Kolom hobby juga tidak akan di encoding dan dijadikan variabel prediktor karena terlalu banyak unique values sehingga tidak berkorelasi. Sama halnya dengan kolom city

**Kolom yang akan di encoding adalah kolom province dan age_group, namun akan kita kelompokkan terlebih dahulu kolom province menjadi kelompok indo_timur, indo_barat, dan indo_tengah.**

Kolom yang lain tidak di encoding karena sudah dalam bentuk angka dan bisa dibaca oleh mesin

Encoding kolom province_group dan age_group

Sebelum melakukan modelling, pastikan kita sudah mengambil kolom" yang SIAP untuk dijadikan sebagai variabel prediktor dan target. AYO KITA FILTER !

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 98 entries, 0 to 106
Data columns (total 25 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   registration_id                      98 non-null     object
 1   name                                 98 non-null     object
 2   email                                98 non-null     object
 3   phone                                98 non-null     float64
 4   age                                  98 non-null     float64
 5   income_group                         98 non-null     int64
 6   active                               98 non-null     bool
 7   city                                 98 non-null     object
 8   province                             98 non-null     object
 9   hobby                                98 non-null     object
 10  website_visit_count                  98 non-null     int64
 11  website_recency                      98 non-null     int64
 12  website_purchase_rate                98 non-null     float64
 13  website_purchase_amount              98 non-null     int64
 14  website_cs_call_count                98 non-null     int64
 15  accept_campaign_1                    98 non-null     bool
 16  accept_campaign_2                    98 non-null     bool
 17  accept_campaign_3                    98 non-null     bool
 18  accept_campaign_4                    98 non-null     bool
 19  accept_campaign_5                    98 non-null     bool
 20  age_group                            98 non-null     object
 21  Clipped_website_recency              98 non-null     float64
 22  Clipped_website_purchase_amount      98 non-null     int64
 23  std_clipped_website_purchase_amount  98 non-null     float64
 24  province_group                       98 non-null     object
dtypes: bool(6), float64(5), int64(6), object(8)
memory usage: 15.9+ KB

Kita tidak akan mengambil kolom :    

1. registration_id, name, email, phone, age ( sudah ada age_group yang di encoding ), city, province ( sudah ada province_group yang di encoding ), hobby, website_recency ( ssudah ada Clipped_website_recency ), website_purchase_amount serta Clipped_website_purchase_amount ( sudah ada std_clipped_website_purchase_amount ), age_group dan province_group(sudah di encoding)

# Modelling

## Modelling preparation

Kita mempunyai 1 Task yang diberikan, yaitu membuat mesin prediksi apakah customer yang datang dan beraktivitas di website perusahaan berpeluang menggunakan jenis promosi yang mana antara promosi ke 1 - 5.

Kita menggunakan hasil_df, bukan df

membagi data menjadi data train dan data test

## Modelling

In [ ]:
hasil_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 98 entries, 0 to 106
Data columns (total 18 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   income_group                         98 non-null     int64
 1   active                               98 non-null     bool
 2   website_visit_count                  98 non-null     int64
 3   website_purchase_rate                98 non-null     float64
 4   website_cs_call_count                98 non-null     int64
 5   accept_campaign_1                    98 non-null     bool
 6   accept_campaign_2                    98 non-null     bool
 7   accept_campaign_3                    98 non-null     bool
 8   accept_campaign_4                    98 non-null     bool
 9   accept_campaign_5                    98 non-null     bool
 10  Clipped_website_recency              98 non-null     float64
 11  std_clipped_website_purchase_amount  98 non-null     float64
 12  province_group_indo_barat            89 non-null     float64
 13  province_group_indo_tengah           89 non-null     float64
 14  province_group_indo_timur            89 non-null     float64
 15  age_group_dewasa                     89 non-null     float64
 16  age_group_paruh_baya                 89 non-null     float64
 17  age_group_produktif                  89 non-null     float64
dtypes: bool(6), float64(9), int64(3)
memory usage: 10.5 KB

In [ ]:
X_test[2:3]

,income_group,active,website_visit_count,website_purchase_rate,website_cs_call_count,Clipped_website_recency,std_clipped_website_purchase_amount,province_group_indo_barat,province_group_indo_tengah,province_group_indo_timur,age_group_dewasa,age_group_paruh_baya,age_group_produktif
49,2,True,69,0.83,0,22.0,2.371571,1.0,0.0,0.0,0.0,1.0,0.0

Belum terdapat kolom - kolom target, yaitu "accept_campaign_1", "accept_campaign_2", "accept_campaign_3", "accept_campaign_4", "accept_campaign_5" karena merupakan data variabel prediktor test, khusunya pada data test indeks ke-2

In [ ]:
dt.predict(X_test[2:3])

array([[False, False,  True,  True,  True]])

Artinya mesin memprediksi bahwa pelanggan dengan indeks ke-2 pada data test adalah pelanggan yang diprediksi suka menggunakan rpomo / campaign ke 3,4,5 atau promo flash sale, free ongkir, dan cashback 30%

## Modelling Evaluation

In [ ]:
# import libraries
from sklearn.metrics import mean_absolute_error, accuracy_score, precision_score, recall_score, silhouette_score

recall dan precision menggunakan parameter micro. micro: Menghitung metrik global dengan meringkas semua label.

Jika hasil akurasi, precision, recall dirasa kurang memuaskan maka dianjurkan untuk melakukan data addition dengan manipulasi data, seperti melakukan :    

1. Encoding kolom income_group dan active
2. Melakukan pengelompokkan ( Binning )pada kolom website_visit_count ( misal megelompokkan menjadi jarang, sering, dan sangat sering ) lalu di encoding lagi hasilnya agar bisa dibaca oleh mesin
3. Melakukan pengelompokkan pada kolom city ( misal megelompokkan menjadi kota_barat, kota_tengah, dan kota timur ) lalu di encoding lagi hasilnya agar bisa dibaca oleh mesin
4. dst.